Simulado da A2 de Linguagens de Programação – 17/11/2017
--
Professor: Renato Rocha Souza  
--

Nome do Aluno(a):

In [3]:
meu_nome = input('Entre com o seu nome completo: ')
print('Olá, {}!'.format(meu_nome))
print('Bom trabalho!')

Entre com o seu nome completo: Lucas Moschen
Olá, Lucas Moschen!
Bom trabalho!

In [4]:
import numpy as np
import matplotlib.pyplot as plt
import requests
import random
import re
import string
import time
import pymysql
import sqlite3
import getpass
import pandas.io.sql as psql
import networkx as nx
from IPython.display import clear_output
%matplotlib inline

In [11]:
conn = sqlite3.connect('cadastro.sqlite')
cur = conn.cursor()

cur.execute('create table if not exists "cantores" ("id" int(10) not null, "nome" varchar(255), "data_nascimento" varchar(255), "peso" float(4), "altura" float(4), "imc" float(5), "Gênero" varchar(10))')

In [12]:
cur.execute('pragma table_info(cantores)')
for r in cur.fetchall():
    print(r)

(0, 'id', 'int(10)', 1, None, 0)
(1, 'nome', 'varchar(255)', 0, None, 0)
(2, 'data_nascimento', 'varchar(255)', 0, None, 0)
(3, 'peso', 'float(4)', 0, None, 0)
(4, 'altura', 'float(4)', 0, None, 0)
(5, 'imc', 'float(5)', 0, None, 0)
(6, 'Gênero', 'varchar(10)', 0, None, 0)

Questão 1 (2,0 pontos)  


Utilizando Python, crie um banco de dados no sqlite que guarde a seguinte estrutura:


| id (rowid) | nome (text)    | data_nascimento (text)    | peso (real) | altura (real) | imc (real) | Gênero  (text) |
|--------------|----------------|---------------------------|-------------|---------------|------------|----------------|
| 1            | Anitta         | "1993-03-30 00:00:00.000" | 56          | 162           | 0          | POP            |
| 2            | Caetano Veloso | "1942-08-07 00:00:00.000" | 57          | 170           | 0          | MBP            |
| 3            | Roberto Carlos | "1941-04-19 00:00:00.000" | 69          | 166           | 0          | MPB            |
| 4            | Ivete Sangalo  | "1972-05-27 00:00:00.000" | 60          | 177           | 0          | AXÉ            |
| 5            | Wesley Safadão | "1988-09-06 00:00:00.000" | 77          | 175           | 0          | POP            |


Após a estrutura gerada, crie um script que calcule e corrija o IMC da tabela pela fórmula:  


$\large IMC = \frac{Peso}{Altura^{2}}$


Veja:  
https://sqlite.org/datatype3.html    
https://sqlite.org/autoinc.html  
https://www.tutorialspoint.com/sqlite/sqlite_update_query.htm

In [14]:
cur.execute('insert into cantores values (1,"Annita","1993-03-30 00:00:00.000",56,162,0,"POP")')

In [24]:
cur.execute('''insert into cantores values 
(3, "Roberto Carlos", "1941-04-19 00:00:00.000", 69, 166, 0, "MPB"),
(4, "Ivete Sangalo", "1972-05-27 00:00:00.000", 60, 177, 0, "AXÉ"),
(5, "Wesley Safadão", "1988-09-06 00:00:00.000", 77, 175, 0, "POP")''')

In [29]:
cur.execute('select * from cantores')
for r in cur.fetchall():
    print(r)

(1, 'Annita', '1993-03-30 00:00:00.000', 56.0, 162.0, 0.002133821063862216, 'POP')
(2, 'Caetano Veloso', '1942-08-07 00:00:00.000', 57.0, 170.0, 0.001972318339100346, 'MBP')
(3, 'Roberto Carlos', '1941-04-19 00:00:00.000', 69.0, 166.0, 0.0025039918710988533, 'MPB')
(4, 'Ivete Sangalo', '1972-05-27 00:00:00.000', 60.0, 177.0, 0.0019151584793641674, 'AXÉ')
(5, 'Wesley Safadão', '1988-09-06 00:00:00.000', 77.0, 175.0, 0.002514285714285714, 'POP')

In [28]:
cur.execute('update cantores set imc = (peso)/(altura*altura)')

Questão 2 (2.0 pontos)  

Conecte ao banco SQLite e responda:
- Quantos artistas/bandas (artists) possuem nomes (Name) começando com a letra "L"?
- Quais as 5 faixas (tracks) mais longas?
- Qual o gênero (Genre) que possui, em média, as faixas (tracks) mais longas?
- Qual o gênero (Genre) que possui, em média, as faixas (tracks) mais caras?

In [30]:
conn = sqlite3.connect('../../Dados/chinook.sqlite')
cur = conn.cursor()

In [46]:
cur.execute('select count(*) from artists where Name like "L%"')
for r in cur.fetchall():
    print(r)

In [39]:
cur.execute('select * from tracks order by Milliseconds desc limit 5')
for r in cur.fetchall():
    print(r)

(2820, 'Occupation / Precipice', 227, 3, 19, None, 5286953, 1054423946, 1.99)
(3224, 'Through a Looking Glass', 229, 3, 21, None, 5088838, 1059546140, 1.99)
(3244, 'Greetings from Earth, Pt. 1', 253, 3, 20, None, 2960293, 536824558, 1.99)
(3242, 'The Man With Nine Lives', 253, 3, 20, None, 2956998, 577829804, 1.99)
(3227, 'Battlestar Galactica, Pt. 2', 253, 3, 20, None, 2956081, 521387924, 1.99)

In [54]:
cur.execute('select GenreId, Name from genres where GenreId in (select GenreId from tracks group by GenreId order by avg(Milliseconds) desc limit 1)')
for r in cur.fetchall():
    print(r)

(20, 'Sci Fi & Fantasy')

In [53]:
cur.execute('select name from sqlite_master where type = "table"') 
for r in cur.fetchall():
    print(r)

('albums',)
('sqlite_sequence',)
('artists',)
('customers',)
('employees',)
('genres',)
('invoices',)
('invoice_items',)
('media_types',)
('playlists',)
('playlist_track',)
('tracks',)
('sqlite_stat1',)

In [36]:
cur.execute('pragma table_info(tracks)')
for r in cur.fetchall():
    print(r)

(0, 'TrackId', 'INTEGER', 1, None, 1)
(1, 'Name', 'NVARCHAR(200)', 1, None, 0)
(2, 'AlbumId', 'INTEGER', 0, None, 0)
(3, 'MediaTypeId', 'INTEGER', 1, None, 0)
(4, 'GenreId', 'INTEGER', 0, None, 0)
(5, 'Composer', 'NVARCHAR(220)', 0, None, 0)
(6, 'Milliseconds', 'INTEGER', 1, None, 0)
(7, 'Bytes', 'INTEGER', 0, None, 0)
(8, 'UnitPrice', 'NUMERIC(10,2)', 1, None, 0)

Questão 3 (3.0 pontos)  (questão desafiante!!)

Com o banco de dados da questão anterior, crie um grafo utilizando o pacote networkx do Python, de modo que os artistas estejam ligados ao gênero ao qual pertence a maioria de suas músicas. Diferencie com atributos os nós de artista e de gênero.

https://networkx.github.io/  
https://networkx.github.io/documentation/stable/tutorial.html#directed-graphs 
https://networkx.github.io/documentation/stable/tutorial.html#adding-attributes-to-graphs-nodes-and-edges  
https://networkx.github.io/documentation/stable/tutorial.html#drawing-graphs

In [ ]:
# seu código aqui

Questão 4 (1.5 pontos) 

Pedro, coitado, programa em R há muitos anos, mas gostaria de migrar para Python, uma linguagem muito mais poderosa. Ajude-o a converter o código abaixo para Python:

In [ ]:
countdown <- function(from)
{
  print(from)
  while(from!=0)
  {
    Sys.sleep(1)
    from <- from - 1
    print(from)
  }
}

countdown(5)

In [ ]:
#seu código aqui

Questão 5 (1.5 pontos) 

Vitória é uma excelente programadora em C. Nos últimos tempos - mas isso ela não admitiria - tem se convencido de que Python é uma escolha mais razoável para sua vida acadêmica. Ajude-a a converter o código abaixo para Python:

In [ ]:
#include <stdio.h>
int main()
{
    int n, reversedInteger = 0, remainder, originalInteger;

    printf("Enter an integer: ");
    scanf("%d", &n);

    originalInteger = n;

    // reversed integer is stored in variable 
    while( n!=0 )
    {
        remainder = n%10;
        reversedInteger = reversedInteger*10 + remainder;
        n /= 10;
    }

    // palindrome if orignalInteger and reversedInteger are equal
    if (originalInteger == reversedInteger)
        printf("%d is a palindrome.", originalInteger);
    else
        printf("%d is not a palindrome.", originalInteger);
    
    return 0;
}

In [3]:
#seu código aqui

Questão Bônus (0,5 pontos)  

Alexandrino gosta muito de LISP, mas - poucos sabem - secretamente acalenta o sonho de programar em Python. 
Ajude-o a converter o código abaixo para Python:

In [ ]:
(defun get-max-value (list)
  (let ((ans (first list)))
    (do ((i 1 (1+ i)))
        ((>= i (length list)) ans)
      (when (> (nth i list) ans)
        (setf ans (nth i list))))))

In [ ]:
#seu código aqui