Exercícios de Revisão A2
--
Professor: Renato Rocha Souza  
--

In [47]:
import itertools as it
import random
from collections import Counter
import re
import string

import pymysql
import sqlite3
import getpass

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pandas.io.sql as psql

%matplotlib inline
import time

### Parte I - Pandas

Para o Dataframe abaixo, resolva as seguintes tarefas:

In [ ]:
pd_zoo = pd.read_csv('../Dados/zoo.csv')
pd_zoo.head()

1 - Crie uma série somente com os nomes dos animais (primeira coluna)

In [ ]:
res_1 = pd_zoo.animal

2 - Transforme os campos com as strings "True"/"False" em variáveis booleanas True/False  
Veja as dicas [aqui](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) e [aqui](https://stackoverflow.com/questions/49259580/replace-values-in-a-pandas-series-via-dictionary-efficiently)

In [ ]:
pd_zoo = pd_zoo.apply(lambda x: x.replace(True,'Verdadeiro'))

In [ ]:
pd_zoo = pd_zoo.apply(lambda x: x.replace(False,'Falso'))
pd_zoo.legs[pd_zoo.legs == 'Falso'] = 0

In [ ]:
pd_zoo[0:10]

3 - Crie um novo dataframe somente com os Mamíferos

In [ ]:
mamiferos = pd_zoo[pd_zoo.type =='mammal']
mamiferos[0:10]

4 - Crie um gráfico com os números de patas por animais  
Veja as dicas [aqui](https://pandas.pydata.org/pandas-docs/version/0.22/generated/pandas.DataFrame.plot.html)

In [ ]:
pd_zoo.legs.plot(kind = 'hist',color = 'r')

5 - crie uma tabela no banco alunos a partir do dataframe  
ver referência [aqui](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html)

In [ ]:
p = getpass.getpass()
conn = pymysql.connect(host='127.0.0.1', #localhost
                       port=3306, 
                       user='aluno', 
                       passwd=p, 
                       db='alunos')

In [ ]:
conn = sqlite3.connect('tabela_zoo')

In [ ]:
pd_zoo.to_sql('tabela_zoo', con=conn)
cur = conn.cursor()

In [ ]:
cur.execute("SELECT * FROM tabela_zoo;")
for r in cur.fetchmany(12):
    print(r)

### Parte 2 - Shell Linux

Usando comandos do Shell, abra o arquivo ../Dados/DomCasmurroMachadoAssis.txt e resolva as seguintes tarefas:

1 - Ordene as palavras do texto nas formas abaixo:
+ ordem ascii
+ ordem alfabética
+ ordem de "rima"

In [ ]:
!cat ../Dados/DomCasmurroMachadoAssis.txt | tr ']' '\n'| tr -sc '[a-záàâãéêíôóõúç][A-ZÁÀÃÂÉÊÍÓÔÚÇ]' '[\012*]' | sort | uniq

In [ ]:
!cat ../Dados/DomCasmurroMachadoAssis.txt | tr ']' '\n'| tr -sc '[a-záàâãéêíôóõúç][A-ZÁÀÃÂÉÊÍÓÔÚÇ]' '[\012*]' | sort -h | uniq

In [ ]:
!cat ../Dados/DomCasmurroMachadoAssis.txt | tr [A-Z] [a-z] | tr ']' '\n'| tr -sc '[a-záàâãéêíôóõúç][A-ZÁÀÃÂÉÊÍÓÔÚÇ]' '[\012*]' | sort | uniq | rev | sort | rev

2 - Quantas palavras maiúsculas distintas há no texto?

In [35]:
!cat ../Dados/DomCasmurroMachadoAssis.txt | tr -sc '[a-záàâãéêíôóõúç][A-ZÁÀÃÂÉÊÍÓÔÚÇ]' '[\012*]' | sort -n | uniq | grep -c '^[A-ZÁÀÃÂÉÊÍÓÕÔÚÇ]'

1531

3 - Quantas palavras há com apenas uma, com apenas duas, e com apenas 3 vogais?

In [ ]:
!cat ../Dados/DomCasmurroMachadoAssis.txt | tr -sc '[a-záàâãéêíôóõúç][A-ZÁÀÃÂÉÊÍÓÔÚÇ]' '[\012*]' | grep [aeiouáàâãéêíôóõú][^aeiouáàâãéêíôóõú]*[aeiouáàâãéêíôóõú] | grep -vc [aeiouáàâãéêíôóõú].*[aeiouáàâãéêíôóõú].*[aeiouáàâãéêíôóõú]

In [ ]:
!cat ../Dados/DomCasmurroMachadoAssis.txt | tr -sc '[a-záàâãéêíôóõúç][A-ZÁÀÃÂÉÊÍÓÔÚÇ]' '[\012*]' | grep [aeiouáàâãéêíôóõú][^aeiouáàâãéêíôóõú]*[aeiouáàâãéêíôóõú][^aeiouáàâãéêíôóõú]*[aeiouáàâãéêíôóõú] | grep -vc [aeiouáàâãéêíôóõú].*[aeiouáàâãéêíôóõú].*[aeiouáàâãéêíôóõú].*[aeiouáàâãéêíôóõú]

4 - Qual a sequência de comandos para criar um arquivo com os bigramas e suas contagens?

In [ ]:
!cat ../Dados/DomCasmurroMachadoAssis.txt | tr -sc '[a-záàâãéêíôóõúç][A-ZÁÀÃÂÉÊÍÓÔÚÇ]' '[\012*]' > ../Dados/Dom_words.txt
!cat ../Dados/DomCasmurroMachadoAssis.txt | tr -sc '[a-záàâãéêíôóõúç][A-ZÁÀÃÂÉÊÍÓÔÚÇ]' '[\012*]' | tail  -n +2 > ../Dados/Dom_nextwords.txt
!paste ../Dados/Dom_words.txt ../Dados/Dom_nextwords.txt | sort | uniq -c | sort -nr

### Parte 3 - Expressões Regulares

1 - Repita os exercícios 1 a 4 da parte 2 utilizando Python

In [52]:
f = open('../Dados/DomCasmurroMachadoAssis.txt',encoding='utf-8')
texto = f.read()
palavras = texto.split()
palavras = {p.strip(string.punctuation) for p in palavras}
palavras = {p for p in palavras if not p[0:1].isnumeric()}
rimas = {r[::-1] for r in palavras}

ordem1 = sorted(palavras,key=ascii)
ordem2 = sorted(palavras)
ordem3 = sorted(rimas)
ordem3 = [r[::-1] for r in ordem3]

In [20]:
with open('../Dados/DomCasmurroMachadoAssis.txt',encoding='utf-8') as g:
    texto = g.read()
    texto = re.sub(r'»',' ',texto)
    words = texto.split()
    words = [p.strip(string.punctuation) for p in words]
    words = {m for m in words if re.search(r'^[A-ZÁÀÃÂÉÊÍÓÕÔÚÇ].*',m)}
    print(len(words))

1592

In [36]:
with open('../Dados/DomCasmurroMachadoAssis.txt',encoding='utf-8') as h:
    texto = h.read()
    words = texto.split()
    words = [p.strip(string.punctuation) for p in words]
    vogal1 = [p for p in words if re.search(r'^[^AEIOUaeiouÁÂÃÀÉÊÍÓÔÕÚáàãâêéíóôõú]*[AEIOUaeiouÁÂÃÀÉÊÍÓÔÕÚáàãâêéíóôõú]{1}[^AEIOUaeiouÁÂÃÀÉÊÍÓÔÕÚáàãâêéíóôõú]*$',p)]

In [46]:
text = 'A minha casa era feita de palmeiras. Ela era bagunçada como eu era zoeiro.'
lista1 = text.split()
lista1 = [l.strip(string.punctuation) for l in lista1]
lista2 = lista1
lista1 = tuple(lista1)
lista2.pop(0)
lista1 = list(lista1)
bigramas = zip(lista1,lista2)
print(list(bigramas))

[('A', 'minha'), ('minha', 'casa'), ('casa', 'era'), ('era', 'feita'), ('feita', 'de'), ('de', 'palmeiras'), ('palmeiras', 'Ela'), ('Ela', 'era'), ('era', 'bagunçada'), ('bagunçada', 'como'), ('como', 'eu'), ('eu', 'era'), ('era', 'zoeiro')]

### Parte 4 - Bancos de dados

In [48]:
p = getpass.getpass()
conn = pymysql.connect(host='127.0.0.1', #localhost
                       port=3306, 
                       user='aluno', 
                       passwd=p, 
                       db='SQLExample1')
cur = conn.cursor()

········

In [49]:
cur.execute('use SQLExample1;')
cur.execute('show tables;')
for r in cur.fetchall():
    print(r)

('account',)
('branch',)
('business',)
('customer',)
('department',)
('employee',)
('individual',)
('officer',)
('product',)
('product_type',)
('transaction',)

In [50]:
cur.execute('describe account;')
for r in cur.fetchall():
    print(r)

('account_id', 'int(10) unsigned', 'NO', 'PRI', None, 'auto_increment')
('product_cd', 'varchar(10)', 'NO', 'MUL', None, '')
('cust_id', 'int(10) unsigned', 'NO', 'MUL', None, '')
('open_date', 'date', 'NO', '', None, '')
('close_date', 'date', 'YES', '', None, '')
('last_activity_date', 'date', 'YES', '', None, '')
('status', "enum('ACTIVE','CLOSED','FROZEN')", 'YES', '', None, '')
('open_branch_id', 'smallint(5) unsigned', 'YES', 'MUL', None, '')
('open_emp_id', 'smallint(5) unsigned', 'YES', 'MUL', None, '')
('avail_balance', 'float(10,2)', 'YES', '', None, '')
('pending_balance', 'float(10,2)', 'YES', '', None, '')

In [51]:
cur.execute('select * from account limit 5;')
for r in cur.fetchall():
    print(r)

(1, 'CHK', 1, datetime.date(2000, 1, 15), None, datetime.date(2005, 1, 4), 'ACTIVE', 2, 10, 1057.75, 1057.75)
(2, 'SAV', 1, datetime.date(2000, 1, 15), None, datetime.date(2004, 12, 19), 'ACTIVE', 2, 10, 500.0, 500.0)
(3, 'CD', 1, datetime.date(2004, 6, 30), None, datetime.date(2004, 6, 30), 'ACTIVE', 2, 10, 3000.0, 3000.0)
(4, 'CHK', 2, datetime.date(2001, 3, 12), None, datetime.date(2004, 12, 27), 'ACTIVE', 2, 10, 2258.02, 2258.02)
(5, 'SAV', 2, datetime.date(2001, 3, 12), None, datetime.date(2004, 12, 11), 'ACTIVE', 2, 10, 200.0, 200.0)

In [52]:
cur.execute('describe product;')
for r in cur.fetchall():
    print(r)

('product_cd', 'varchar(10)', 'NO', 'PRI', None, '')
('name', 'varchar(50)', 'NO', '', None, '')
('product_type_cd', 'varchar(10)', 'NO', 'MUL', None, '')
('date_offered', 'date', 'YES', '', None, '')
('date_retired', 'date', 'YES', '', None, '')

In [53]:
cur.execute('select * from product;')
for r in cur.fetchall():
    print(r)

('AUT', 'auto loan', 'LOAN', datetime.date(2000, 1, 1), None)
('BUS', 'business line of credit', 'LOAN', datetime.date(2000, 1, 1), None)
('CD', 'certificate of deposit', 'ACCOUNT', datetime.date(2000, 1, 1), None)
('CHK', 'checking account', 'ACCOUNT', datetime.date(2000, 1, 1), None)
('MM', 'money market account', 'ACCOUNT', datetime.date(2000, 1, 1), None)
('MRT', 'home mortgage', 'LOAN', datetime.date(2000, 1, 1), None)
('SAV', 'savings account', 'ACCOUNT', datetime.date(2000, 1, 1), None)
('SBL', 'small business loan', 'LOAN', datetime.date(2000, 1, 1), None)

In [54]:
cur.execute('describe product_type;')
for r in cur.fetchall():
    print(r)

('product_type_cd', 'varchar(10)', 'NO', 'PRI', None, '')
('name', 'varchar(50)', 'NO', '', None, '')

In [55]:
cur.execute('select * from product_type;')
for r in cur.fetchall():
    print(r)

('ACCOUNT', 'Customer Accounts')
('INSURANCE', 'Insurance Offerings')
('LOAN', 'Individual and Business Loans')

In [56]:
cur.execute('describe employee;')
for r in cur.fetchall():
    print(r)

('emp_id', 'smallint(5) unsigned', 'NO', 'PRI', None, 'auto_increment')
('fname', 'varchar(20)', 'NO', '', None, '')
('lname', 'varchar(20)', 'NO', '', None, '')
('start_date', 'date', 'NO', '', None, '')
('end_date', 'date', 'YES', '', None, '')
('superior_emp_id', 'smallint(5) unsigned', 'YES', 'MUL', None, '')
('dept_id', 'smallint(5) unsigned', 'YES', 'MUL', None, '')
('title', 'varchar(20)', 'YES', '', None, '')
('assigned_branch_id', 'smallint(5) unsigned', 'YES', 'MUL', None, '')

In [57]:
cur.execute('select * from employee limit 10;')
for r in cur.fetchall():
    print(r)

(1, 'Michael', 'Smith', datetime.date(2001, 6, 22), None, None, 3, 'President', 1)
(2, 'Susan', 'Barker', datetime.date(2002, 9, 12), None, 1, 3, 'Vice President', 1)
(3, 'Robert', 'Tyler', datetime.date(2000, 2, 9), None, 1, 3, 'Treasurer', 1)
(4, 'Susan', 'Hawthorne', datetime.date(2002, 4, 24), None, 3, 1, 'Operations Manager', 1)
(5, 'John', 'Gooding', datetime.date(2003, 11, 14), None, 4, 2, 'Loan Manager', 1)
(6, 'Helen', 'Fleming', datetime.date(2004, 3, 17), None, 4, 1, 'Head Teller', 1)
(7, 'Chris', 'Tucker', datetime.date(2004, 9, 15), None, 6, 1, 'Teller', 1)
(8, 'Sarah', 'Parker', datetime.date(2002, 12, 2), None, 6, 1, 'Teller', 1)
(9, 'Jane', 'Grossman', datetime.date(2002, 5, 3), None, 6, 1, 'Teller', 1)
(10, 'Paula', 'Roberts', datetime.date(2002, 7, 27), None, 4, 1, 'Head Teller', 2)

In [63]:
def print_all(action):
    cur.execute(action)
    for r in cur.fetchall():
        print(r)

1 - Na tabela "account", quais os valores médio, mínimo e máximo de "avail_balance"?

In [65]:
valores = 'select avg(avail_balance), min(avail_balance), max(avail_balance) from account'
print_all(valores)

(7114.769138, 0.0, 50000.0)

2 - Quais registros na tabela "account" estão acima da média de "avail_balance"?

In [69]:
acima = 'select * from account where avail_balance > (select avg(avail_balance) from account limit 10) order by avail_balance desc'
print_all(acima)

(29, 'SBL', 13, datetime.date(2004, 2, 22), None, datetime.date(2004, 12, 17), 'ACTIVE', 3, 13, 50000.0, 50000.0)
(28, 'CHK', 12, datetime.date(2003, 7, 30), None, datetime.date(2004, 12, 15), 'ACTIVE', 4, 16, 38552.05, 38552.05)
(24, 'CHK', 10, datetime.date(2002, 9, 30), None, datetime.date(2004, 12, 15), 'ACTIVE', 4, 16, 23575.12, 23575.12)
(15, 'CD', 6, datetime.date(2004, 12, 28), None, datetime.date(2004, 12, 28), 'ACTIVE', 1, 1, 10000.0, 10000.0)
(22, 'MM', 9, datetime.date(2004, 10, 28), None, datetime.date(2004, 10, 28), 'ACTIVE', 1, 1, 9345.55, 9845.55)
(27, 'BUS', 11, datetime.date(2004, 3, 22), None, datetime.date(2004, 11, 14), 'ACTIVE', 2, 10, 9345.55, 9345.55)

3 - Na tabela "account", quais as 3 datas mais recentes e as 3 datas mais antigas ("open_date")?

In [72]:
datas = '(select open_date from account order by open_date limit 3) union all (select open_date from account order by open_date desc limit 3)'
print_all(datas)

(datetime.date(2000, 1, 15),)
(datetime.date(2000, 1, 15),)
(datetime.date(2000, 1, 15),)
(datetime.date(2004, 12, 28),)
(datetime.date(2004, 10, 28),)
(datetime.date(2004, 9, 30),)

4 - Para cada elemento na tabela "product", exiba o nome completo do "product_type_cd" (tabela "product_type")

In [74]:
nome = '''SELECT p.name, pt.name FROM product AS p
INNER JOIN product_type AS pt
ON p.product_type_cd = pt.product_type_cd'''
print_all(nome)

('auto loan', 'Individual and Business Loans')
('business line of credit', 'Individual and Business Loans')
('certificate of deposit', 'Customer Accounts')
('checking account', 'Customer Accounts')
('money market account', 'Customer Accounts')
('home mortgage', 'Individual and Business Loans')
('savings account', 'Customer Accounts')
('small business loan', 'Individual and Business Loans')

5 - Quantos empregados ("employee") possuem a letra "e" em seus nomes? E quantos tem sobrenomes que terminam com "r"?

In [ ]:
emp = '''select count(*) from employee where fname like '%e%' '''

cur.execute(emp)
for r in cur.fetchall():
    print(r)

In [ ]:
emp = '''select count(*) from employee where lname like '%r' '''

cur.execute(emp)
for r in cur.fetchall():
    print(r)

6 - Quais são os títulos ("title") possíveis para os empregados ("employees")?

In [ ]:
title = '''select distinct title from employee'''

cur.execute(title)
for r in cur.fetchall():
    print(r)

7 - Quantos empregados ("employees") estão a exatamente dois níveis abaixo do presidente?

In [ ]:
q3 = '''
    select count(*) from employee where superior_emp_id in 
    (select emp_id from employee where superior_emp_id = 1)'''

cur.execute(q3)
for r in cur.fetchall():
    print(r)

8 - Na tabela "account", quais os valores médio, mínimo e máximo de "avail_balance" por tipo de 'product_cd' ?

In [ ]:
cur.execute('select product_cd, avg(avail_balance), min(avail_balance), max(avail_balance) from account group by product_cd')
for r in cur.fetchall():
    print(r)

9 - Na tabela "transaction", há quantos registros por ano ("txn_date")?

In [ ]:
des = 'describe transaction'

reg = 'select year(txn_date), count(*) from transaction group by year(txn_date)'

cur.execute(reg)

for r in cur.fetchall(): print(r)

10 - Você é dono de uma loja de automóveis. Crie tabelas no banco "alunos" para representar os carros de seu pátio, os modelos de automóveis, os clientes e as compras realizadas.

In [ ]:
#cur.execute('''CREATE TABLE loja_automoveis''')

11 - Crie uma lista no Python com todos os nomes e sobrenomes em strings únicas, a partir da tabela "individual"

In [ ]:
names = []
cur.execute('select * from individual')
for r in cur.fetchall():
    names.append('{} {}'.format(r[1],r[2]))
names

12 - A partir da tabela "individual", crie um dicionário no Python tendo os nomes e sobrenomes em strings únicas como chaves e os anos das datas como valores.

In [ ]:
names_dict = {}
cur.execute('select fname,lname,year(birth_date) from individual')
for r in cur.fetchall():
    names_dict['{} {}'.format(r[0],r[1])] = r[2]
names_dict

13 - Utilizando Python, crie um banco de dados no sqlite que guarde a seguinte estrutura, demonstrada no dataframe do Pandas:  
Use os tipos de dados mais adequados.  

Veja:  
https://sqlite.org/datatype3.html    
https://sqlite.org/autoinc.html  
https://www.tutorialspoint.com/sqlite/sqlite_update_query.htm

In [ ]:
df_tf = pd.read_excel('../Dados/votesurvey.xls')
df_tf.index.name = 'id'
df_tf.head(10)

14 - Conecte ao banco SQLite "iris_database.sqlite"e responda, demonstrando os comandos SQL apropriados:  

a) Há quantas "Species" diferentes na tabela "iris"?  
b) Quantos registros totais há na tabela "iris"?  

Considerando a superfície das pétalas e sépalas como retangular, responda:  

c) Qual espécie ("Species") contém, em média, a maior área de pétalas?  
d) Qual espécie ("Species") contém, em média, a maior área total (pétalas e sépalas)?  

(Por curiosidade, as espécies de Iris contém 3 pétalas e 3 sépalas)

In [75]:
conn = sqlite3.connect('../Dados/iris_database.sqlite')
cur = conn.cursor()

In [87]:
describe = 'select count(*) from (select * from iris group by Species)'
print_all(describe)

(3,)

In [91]:
registros = 'describe iris'
cur.execute(registros)
#print_all(registros)

OperationalError: near "describe": syntax error

15 - Conecte ao banco Python/Dados/chinook.sqlite e responda:

a) Utilizando um comando SQL e as tabelas "invoices", "invoice_items", "customers" e "tracks", mostre quais as faixas compradas por clientes que têm o primeiro nome começando com a letra "M".  
b) Quais clientes contêm a letra "o" tanto no nome como no sobrenome?  
c) Crie um histograma de faixas ("tracks") mais compradas, usando o matplotlib.  
d) Qual o cliente ("customers") que teve gasto médio em compras ("invoices") o valor mais próximo do valor médio do total de compras de todos os clientes?  
e) Escreva um script em Python + SQL para construir um dicionário tendo os nomes dos artistas ("artists") como chaves e uma lista dos álbuns ("albuns") respectivos como valores.

In [ ]:
conn = sqlite3.connect('../Dados/chinook.sqlite')
cur = conn.cursor()