Exercícios de Revisão A2
--
Professor: Renato Rocha Souza  
--

In [7]:
import itertools
import random
from collections import Counter
import re

import pymysql
import sqlite3
import getpass

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pandas.io.sql as psql

%matplotlib inline

### Parte I - Pandas

Para o Dataframe abaixo, resolva as seguintes tarefas:

In [ ]:
pd_zoo = pd.read_csv('../Dados/zoo.csv')
pd_zoo.head()

1 - Crie uma série somente com os nomes dos animais (primeira coluna)

In [ ]:
res_1 = pd_zoo.animal

2 - Transforme os campos com as strings "True"/"False" em variáveis booleanas True/False  
Veja as dicas [aqui](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) e [aqui](https://stackoverflow.com/questions/49259580/replace-values-in-a-pandas-series-via-dictionary-efficiently)

In [ ]:
pd_zoo = pd_zoo.apply(lambda x: x.replace('True',True))

In [ ]:
pd_zoo = pd_zoo.apply(lambda x: x.replace('False',False))

3 - Crie um novo dataframe somente com os Mamíferos

In [ ]:
mamiferos = pd_zoo[pd_zoo.type =='mammal']

4 - Crie um gráfico com os números de patas por animais  
Veja as dicas [aqui](https://pandas.pydata.org/pandas-docs/version/0.22/generated/pandas.DataFrame.plot.html)

In [ ]:
plt.plot(pd_zoo.legs)

5 - crie uma tabela no banco alunos a partir do dataframe  
ver referência [aqui](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html)

In [ ]:
p = getpass.getpass()
conn = pymysql.connect(host='127.0.0.1', #localhost
                       port=3306, 
                       user='aluno', 
                       passwd=p, 
                       db='alunos')

### Parte 2 - Shell Linux

Usando comandos do Shell, abra o arquivo ../Dados/DomCasmurroMachadoAssis.txt e resolva as seguintes tarefas:

1 - Ordene as palavras do texto nas formas abaixo:
+ ordem ascii
+ ordem alfabética
+ ordem de "rima"

In [ ]:
!cat ../Dados/DomCasmurroMachadoAssis.txt | tr ']' '\n'| tr -sc '[A-Z][a-z]' '[\012*]' | sort | uniq

In [ ]:
!cat ../Dados/DomCasmurroMachadoAssis.txt | tr ']' '\n'| tr -sc '[A-Z][a-z]' '[\012*]' | sort -h | uniq

In [ ]:
!cat ../Dados/DomCasmurroMachadoAssis.txt | tr [A-Z] [a-z] | tr ']' '\n'| tr -sc '[A-Z][a-z]' '[\012*]' | sort | uniq | rev | sort | rev

2 - Quantas palavras maiúsculas distintas há no texto?

In [ ]:
!cat ../Dados/DomCasmurroMachadoAssis.txt | tr -sc '[A-Z][a-z]' '[\012*]' | sort -n | uniq | grep -c ^[A-Z]

3 - Quantas palavras há com apenas uma, com apenas duas, e com apenas 3 vogais?

In [ ]:
!cat ../Dados/DomCasmurroMachadoAssis.txt | tr [A-Z] [a-z] | tr -sc '[a-z][A-Z]' '[\012*]' | tr ']' '\n'|  grep -v [aeiou][^aeiou]*[aeiou] | grep -c [aeiou]

In [ ]:
!cat ../Dados/DomCasmurroMachadoAssis.txt | tr -sc '[A-Z][a-z]' '[\012*]' | tr 'A-Z' 'a-z' | grep [aeiou][^aeiou]*[aeiou] | grep -vc [aeiou][a-z]*[aeiou][a-z]*[aeiou]

In [ ]:
!cat ../Dados/DomCasmurroMachadoAssis.txt | tr -sc '[A-Z][a-z]' '[\012*]' | tr 'A-Z' 'a-z' | grep [aeiou][^aeiou]*[aeiou][^aeiou]*[aeiou] | grep -vc [aeiou].*[aeiou].*[aeiou].*[aeiou]

4 - Qual a sequência de comandos para criar um arquivo com os bigramas e suas contagens?

In [ ]:
!cat ../Dados/DomCasmurroMachadoAssis.txt | tr [A-Z] [a-z] | tr -sc '[A-Z][a-z]' '[\012*]' | grep '^..$' | sort | uniq -c > ../Dados/bigramas_dom.txt

### Parte 3 - Expressões Regulares

1 - Repita os exercícios 1 a 4 da parte 2 utilizando Python

### Parte 4 - Bancos de dados

In [13]:
p = getpass.getpass()
conn = pymysql.connect(host='127.0.0.1', #localhost
                       port=3306, 
                       user='aluno', 
                       passwd=p, 
                       db='SQLExample1')
cur = conn.cursor()

········

In [25]:
cur.execute('use SQLExample1;')
cur.execute('show tables;')
for r in cur.fetchall():
    print(r)

('account',)
('branch',)
('business',)
('customer',)
('department',)
('employee',)
('individual',)
('officer',)
('product',)
('product_type',)
('transaction',)

In [37]:
cur.execute('describe account;')
for r in cur.fetchall():
    print(r)

('account_id', 'int(10) unsigned', 'NO', 'PRI', None, 'auto_increment')
('product_cd', 'varchar(10)', 'NO', 'MUL', None, '')
('cust_id', 'int(10) unsigned', 'NO', 'MUL', None, '')
('open_date', 'date', 'NO', '', None, '')
('close_date', 'date', 'YES', '', None, '')
('last_activity_date', 'date', 'YES', '', None, '')
('status', "enum('ACTIVE','CLOSED','FROZEN')", 'YES', '', None, '')
('open_branch_id', 'smallint(5) unsigned', 'YES', 'MUL', None, '')
('open_emp_id', 'smallint(5) unsigned', 'YES', 'MUL', None, '')
('avail_balance', 'float(10,2)', 'YES', '', None, '')
('pending_balance', 'float(10,2)', 'YES', '', None, '')

In [ ]:
cur.execute('select * from account limit 5;')
for r in cur.fetchall():
    print(r)

In [ ]:
cur.execute('describe product;')
for r in cur.fetchall():
    print(r)

In [ ]:
cur.execute('select * from product;')
for r in cur.fetchall():
    print(r)

In [ ]:
cur.execute('describe product_type;')
for r in cur.fetchall():
    print(r)

In [ ]:
cur.execute('select * from product_type;')
for r in cur.fetchall():
    print(r)

In [38]:
cur.execute('describe employee;')
for r in cur.fetchall():
    print(r)

('emp_id', 'smallint(5) unsigned', 'NO', 'PRI', None, 'auto_increment')
('fname', 'varchar(20)', 'NO', '', None, '')
('lname', 'varchar(20)', 'NO', '', None, '')
('start_date', 'date', 'NO', '', None, '')
('end_date', 'date', 'YES', '', None, '')
('superior_emp_id', 'smallint(5) unsigned', 'YES', 'MUL', None, '')
('dept_id', 'smallint(5) unsigned', 'YES', 'MUL', None, '')
('title', 'varchar(20)', 'YES', '', None, '')
('assigned_branch_id', 'smallint(5) unsigned', 'YES', 'MUL', None, '')

In [ ]:
cur.execute('select * from employee limit 10;')
for r in cur.fetchall():
    print(r)

1 - Na tabela "account", quais os valores médio, mínimo e máximo de "avail_balance"?

In [ ]:
cur.execute('select avg(avail_balance), min(avail_balance), max(avail_balance) from account')
for r in cur.fetchall():
    print(r)

2 - Quais registros na tabela "account" estão acima da média de "avail_balance"?

In [13]:
cur.execute('''select * from account where avail_balance > 
                (select avg(avail_balance) from account);''')
for r in cur.fetchall():
    print(r)

(15, 'CD', 6, datetime.date(2004, 12, 28), None, datetime.date(2004, 12, 28), 'ACTIVE', 1, 1, 10000.0, 10000.0)
(22, 'MM', 9, datetime.date(2004, 10, 28), None, datetime.date(2004, 10, 28), 'ACTIVE', 1, 1, 9345.55, 9845.55)
(24, 'CHK', 10, datetime.date(2002, 9, 30), None, datetime.date(2004, 12, 15), 'ACTIVE', 4, 16, 23575.12, 23575.12)
(27, 'BUS', 11, datetime.date(2004, 3, 22), None, datetime.date(2004, 11, 14), 'ACTIVE', 2, 10, 9345.55, 9345.55)
(28, 'CHK', 12, datetime.date(2003, 7, 30), None, datetime.date(2004, 12, 15), 'ACTIVE', 4, 16, 38552.05, 38552.05)
(29, 'SBL', 13, datetime.date(2004, 2, 22), None, datetime.date(2004, 12, 17), 'ACTIVE', 3, 13, 50000.0, 50000.0)

3 - Na tabela "account", quais as 3 datas mais recentes e as 3 datas mais antigas ("open_date")?

In [16]:
data = '''
(select open_date from account order by open_date limit 3)
UNION ALL
(select open_date from account order by open_date desc limit 3);
'''

cur.execute(data)

for r in cur.fetchall():
    print(r)

(datetime.date(2000, 1, 15),)
(datetime.date(2000, 1, 15),)
(datetime.date(2000, 1, 15),)
(datetime.date(2004, 12, 28),)
(datetime.date(2004, 10, 28),)
(datetime.date(2004, 9, 30),)

4 - Para cada elemento na tabela "product", exiba o nome completo do "product_type_cd" (tabela "product_type")

In [28]:
q = '''
SELECT p.product_cd, p.name, p.product_type_cd, p.date_offered, p.date_retired, pt.name from product AS p
INNER JOIN product_type AS pt
ON p.product_type_cd = pt.product_type_cd
;
'''

cur.execute(q)
for r in cur.fetchall():
    print(r)

('AUT', 'auto loan', 'LOAN', datetime.date(2000, 1, 1), None, 'Individual and Business Loans')
('BUS', 'business line of credit', 'LOAN', datetime.date(2000, 1, 1), None, 'Individual and Business Loans')
('CD', 'certificate of deposit', 'ACCOUNT', datetime.date(2000, 1, 1), None, 'Customer Accounts')
('CHK', 'checking account', 'ACCOUNT', datetime.date(2000, 1, 1), None, 'Customer Accounts')
('MM', 'money market account', 'ACCOUNT', datetime.date(2000, 1, 1), None, 'Customer Accounts')
('MRT', 'home mortgage', 'LOAN', datetime.date(2000, 1, 1), None, 'Individual and Business Loans')
('SAV', 'savings account', 'ACCOUNT', datetime.date(2000, 1, 1), None, 'Customer Accounts')
('SBL', 'small business loan', 'LOAN', datetime.date(2000, 1, 1), None, 'Individual and Business Loans')

##### Perguntar o que exatamente o exercício pede e comparar as soluções

In [27]:
nome = '''select * from product AS p 
inner join product_type as pt
on p.product_type_cd = pt.product_type_cd
'''

cur.execute(nome)
for r in cur.fetchall():
    print(r)

('AUT', 'auto loan', 'LOAN', datetime.date(2000, 1, 1), None, 'LOAN', 'Individual and Business Loans')
('BUS', 'business line of credit', 'LOAN', datetime.date(2000, 1, 1), None, 'LOAN', 'Individual and Business Loans')
('CD', 'certificate of deposit', 'ACCOUNT', datetime.date(2000, 1, 1), None, 'ACCOUNT', 'Customer Accounts')
('CHK', 'checking account', 'ACCOUNT', datetime.date(2000, 1, 1), None, 'ACCOUNT', 'Customer Accounts')
('MM', 'money market account', 'ACCOUNT', datetime.date(2000, 1, 1), None, 'ACCOUNT', 'Customer Accounts')
('MRT', 'home mortgage', 'LOAN', datetime.date(2000, 1, 1), None, 'LOAN', 'Individual and Business Loans')
('SAV', 'savings account', 'ACCOUNT', datetime.date(2000, 1, 1), None, 'ACCOUNT', 'Customer Accounts')
('SBL', 'small business loan', 'LOAN', datetime.date(2000, 1, 1), None, 'LOAN', 'Individual and Business Loans')

5 - Quantos empregados ("employee") possuem a letra "e" em seus nomes? E quantos tem sobrenomes que terminam com "r"?

In [44]:
emp = '''select count(*) from employee where fname like '%e%' '''

cur.execute(emp)
for r in cur.fetchall():
    print(r)

(6,)

In [49]:
emp = '''select count(*) from employee where lname like '%r' '''

cur.execute(emp)
for r in cur.fetchall():
    print(r)

(6,)

6 - Quais são os títulos ("title") possíveis para os empregados ("employees")?

In [60]:
title = '''select distinct title from employee'''

cur.execute(title)
for r in cur.fetchall():
    print(r)

('President',)
('Vice President',)
('Treasurer',)
('Operations Manager',)
('Loan Manager',)
('Head Teller',)
('Teller',)

7 - Quantos empregados ("employees") estão a exatamente dois níveis abaixo do presidente?

In [81]:
q3 = '''
    select count(*) from employee where superior_emp_id in 
    (select emp_id from employee where superior_emp_id = 1)'''

cur.execute(q3)
for r in cur.fetchall():
    print(r)

(1,)

8 - Na tabela "account", quais os valores médio, mínimo e máximo de "avail_balance" por tipo de 'product_cd' ?

In [83]:
cur.execute('select product_cd, avg(avail_balance), min(avail_balance), max(avail_balance) from account group by product_cd')
for r in cur.fetchall():
    print(r)

('BUS', 4672.774902, 0.0, 9345.55)
('CD', 4875.0, 1500.0, 10000.0)
('CHK', 7300.800985, 122.37, 38552.05)
('MM', 5681.713216, 2212.5, 9345.55)
('SAV', 463.940002, 200.0, 767.77)
('SBL', 50000.0, 50000.0, 50000.0)

9 - Na tabela "transaction", há quantos registros por ano ("txn_date")?

In [94]:
des = 'describe transaction'

reg = 'select year(txn_date), count(*) from transaction group by year(txn_date)'

cur.execute(reg)

for r in cur.fetchall(): print(r)

(2000, 3)
(2001, 4)
(2002, 4)
(2003, 3)
(2004, 7)

10 - Você é dono de uma loja de automóveis. Crie tabelas no banco "Alunos" para representar os carros de seu pátio, os modelos de automóveis, os clientes e as compras realizadas.

In [27]:
#cur.execute('''CREATE TABLE loja_automoveis''')

11 - Crie uma lista no Python com todos os nomes e sobrenomes em strings únicas, a partir da tabela "individual"

In [21]:
names = []
cur.execute('select * from individual')
for r in cur.fetchall():
    names.append('{} {}'.format(r[1],r[2]))
names

['James Hadley',
 'Susan Tingley',
 'Frank Tucker',
 'John Hayward',
 'Charles Frasier',
 'John Spencer',
 'Margaret Young',
 'Louis Blake',
 'Richard Farley']

12 - A partir da tabela "individual", crie um dicionário no Python tendo os nomes e sobrenomes em strings únicas como chaves e os anos das datas como valores.

In [26]:
names_dict = {}
cur.execute('select fname,lname,year(birth_date) from individual')
for r in cur.fetchall():
    names_dict['{} {}'.format(r[0],r[1])] = r[2]
names_dict

{'Charles Frasier': 1971,
 'Frank Tucker': 1958,
 'James Hadley': 1972,
 'John Hayward': 1966,
 'John Spencer': 1962,
 'Louis Blake': 1977,
 'Margaret Young': 1947,
 'Richard Farley': 1968,
 'Susan Tingley': 1968}

13 - Utilizando Python, crie um banco de dados no sqlite que guarde a seguinte estrutura, demonstrada no dataframe do Pandas:  
Use os tipos de dados mais adequados.  

Veja:  
https://sqlite.org/datatype3.html    
https://sqlite.org/autoinc.html  
https://www.tutorialspoint.com/sqlite/sqlite_update_query.htm

In [ ]:
df_tf = pd.read_excel('../Dados/votesurvey.xls')
df_tf.index.name = 'id'
df_tf.head(10)

14 - Conecte ao banco SQLite "iris_database.sqlite"e responda, demonstrando os comandos SQL apropriados:  

a) Há quantas "Species" diferentes na tabela "iris"?  
b) Quantos registros totais há na tabela "iris"?  

Considerando a superfície das pétalas e sépalas como retangular, responda:  

c) Qual espécie ("Species") contém, em média, a maior área de pétalas?  
d) Qual espécie ("Species") contém, em média, a maior área total (pétalas e sépalas)?  

(Por curiosidade, as espécies de Iris contém 3 pétalas e 3 sépalas)

In [ ]:
conn = sqlite3.connect('../Dados/iris_database.sqlite')
cur = conn.cursor()

15 - Conecte ao banco Python/Dados/chinook.sqlite e responda:

a) Utilizando um comando SQL e as tabelas "invoices", "invoice_items", "customers" e "tracks", mostre quais as faixas compradas por clientes que têm o primeiro nome começando com a letra "M".  
b) Quais clientes contêm a letra "o" tanto no nome como no sobrenome?  
c) Crie um histograma de faixas ("tracks") mais compradas, usando o matplotlib.  
d) Qual o cliente ("customers") que teve gasto médio em compras ("invoices") o valor mais próximo do valor médio do total de compras de todos os clientes?  
e) Escreva um script em Python + SQL para construir um dicionário tendo os nomes dos artistas ("artists") como chaves e uma lista dos álbuns ("albuns") respectivos como valores.

In [ ]:
conn = sqlite3.connect('../Dados/chinook.sqlite')
cur = conn.cursor()