# Revisão A2

In [118]:
import pandas as pd
import numpy as np

## Pandas

### Séries

In [22]:
lista = pd.Series([10,1012,'312',312,312])
lista2 = pd.Series(data=lista.values,index = range(1,len(lista.values)+1)) #ele pega os valores da série de lista e linka aos valores index

In [23]:
lista2

1      10
2    1012
3     312
4     312
5     312
dtype: object

In [24]:
lista.index

RangeIndex(start=0, stop=5, step=1)

In [29]:
lista[[all([a, b]) for a, b in zip(lista2 != '312', lista2 != 312)]]

0      10
1    1012
dtype: object

In [26]:
list(zip(lista2 != '312', lista2 != 312))

[(True, True), (True, True), (False, True), (True, False), (True, False)]

In [69]:
lista2.iloc[1]
lista2.apply(lambda x: int(x)**2)
lista2.append(pd.Series([1,2,3]))
lista2.loc[1] = 10.4 #se o index existe, ele  substitui, senão ele cria um novo índice
lista2[lista2.between(1,10)] #selecionar dados de um intervalo é melhor por esse método

2    4.0
3    4.0
0    4.0
8    4.0
dtype: float64

### DataFrames

In [104]:
data2 = {'state': ['RS', 'SC', 'PR', 'SP', 'RJ'],'year': [2000, 2001, 2002, 2001, 2002],'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
frame = pd.DataFrame(data2,index = range(1, len(data2['state'])+1))
frame

   pop state  year
1  1.5    RS  2000
2  1.7    SC  2001
3  3.6    PR  2002
4  2.4    SP  2001
5  2.9    RJ  2002

In [117]:
frame['gd'] = np.nan
frame

   pop state  year  gd
1  1.5    RS  2000 NaN
2  1.7    SC  2001 NaN
3  3.6    PR  2002 NaN
4  2.4    SP  2001 NaN
5  2.9    RJ  2002 NaN

In [112]:
frame.columns

Index(['pop', 'state', 'year', 'gd'], dtype='object')

In [122]:
pop = {'Nevada': {2001: 2.4, 2002: 2.9,2003:np.nan},'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}
frame3 = pd.DataFrame(pop)
frame3

      Nevada  Ohio
2000     NaN   1.5
2001     2.4   1.7
2002     2.9   3.6
2003     NaN   NaN

In [132]:
pd.DataFrame.between_time?

In [6]:
with open('../Python/Dados/texto_python.txt', mode='r', encoding='utf-8') as f:
    novo = f.read()
novo[0:1000]

'\n  /Python/\n\nOrigem: Wikipédia, a enciclopédia livre.\nIr para: navegação <#mw-head>, pesquisa <#p-search>\nDisambig grey.svg *Nota:* Para outros significados, veja Python\n(desambiguação) </wiki/Python_(desambigua%C3%A7%C3%A3o)>.\nPython\nPython logo and wordmark.svg </wiki/Ficheiro:Python_logo_and_wordmark.svg>\nParadigma </wiki/Paradigma_de_programa%C3%A7%C3%A3o> \tMultiparadigma\n</wiki/Multiparadigma>:\nOrientação a objetos </wiki/Orienta%C3%A7%C3%A3o_a_objetos>\nProgramação imperativa </wiki/Programa%C3%A7%C3%A3o_imperativa>\nProgramação funcional </wiki/Programa%C3%A7%C3%A3o_funcional>\nSurgido em \t1991 </wiki/1991>^[1] <#cite_note-svn-hist.C3.B3ria-1>\nÚltima versão </wiki/Vers%C3%A3o> \t3.4.1 (18 de maio de 2014^[2]\n<#cite_note-2> )\nCriado por \tGuido van Rossum </wiki/Guido_van_Rossum>^[1]\n<#cite_note-svn-hist.C3.B3ria-1>\nEstilo de tipagem </wiki/Tipo_de_dado>: \tDinâmica, forte\nDialetos: \tCPython </wiki/CPython>, IronPython </wiki/IronPython>,\nJython </wiki/Jython>, PyPy </w/index.php?title'

In [7]:
import re
novo = re.sub(r'[^A-Za-z0-9áéíóúàâêôãõçü-]',' ',novo)
novo[0:1000]

'    Python   Origem  Wikipédia  a enciclopédia livre  Ir para  navegação   mw-head   pesquisa   p-search  Disambig grey svg  Nota   Para outros significados  veja Python  desambiguação    wiki Python  desambigua C3 A7 C3 A3o    Python Python logo and wordmark svg   wiki Ficheiro Python logo and wordmark svg  Paradigma   wiki Paradigma de programa C3 A7 C3 A3o   Multiparadigma   wiki Multiparadigma   Orientação a objetos   wiki Orienta C3 A7 C3 A3o a objetos  Programação imperativa   wiki Programa C3 A7 C3 A3o imperativa  Programação funcional   wiki Programa C3 A7 C3 A3o funcional  Surgido em  1991   wiki 1991   1    cite note-svn-hist C3 B3ria-1   ltima versão   wiki Vers C3 A3o   3 4 1  18 de maio de 2014  2    cite note-2    Criado por  Guido van Rossum   wiki Guido van Rossum   1    cite note-svn-hist C3 B3ria-1  Estilo de tipagem   wiki Tipo de dado    Dinâmica  forte Dialetos   CPython   wiki CPython   IronPython   wiki IronPython   Jython   wiki Jython   PyPy   w index php title'