# Revisão A2

In [1]:
import pandas as pd
import numpy as np
import re as re
import string
import sqlite3

## Pandas

### Séries

In [22]:
lista = pd.Series([10,1012,'312',312,312])
lista2 = pd.Series(data=lista.values,index = range(1,len(lista.values)+1)) #ele pega os valores da série de lista e linka aos valores index

In [23]:
lista2

1      10
2    1012
3     312
4     312
5     312
dtype: object

In [24]:
lista.index

RangeIndex(start=0, stop=5, step=1)

In [29]:
lista[[all([a, b]) for a, b in zip(lista2 != '312', lista2 != 312)]]

0      10
1    1012
dtype: object

In [26]:
list(zip(lista2 != '312', lista2 != 312))

[(True, True), (True, True), (False, True), (True, False), (True, False)]

In [69]:
lista2.iloc[1]
lista2.apply(lambda x: int(x)**2)
lista2.append(pd.Series([1,2,3]))
lista2.loc[1] = 10.4 #se o index existe, ele  substitui, senão ele cria um novo índice
lista2[lista2.between(1,10)] #selecionar dados de um intervalo é melhor por esse método

2    4.0
3    4.0
0    4.0
8    4.0
dtype: float64

### DataFrames

In [104]:
data2 = {'state': ['RS', 'SC', 'PR', 'SP', 'RJ'],'year': [2000, 2001, 2002, 2001, 2002],'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
frame = pd.DataFrame(data2,index = range(1, len(data2['state'])+1))
frame

   pop state  year
1  1.5    RS  2000
2  1.7    SC  2001
3  3.6    PR  2002
4  2.4    SP  2001
5  2.9    RJ  2002

In [117]:
frame['gd'] = np.nan
frame

   pop state  year  gd
1  1.5    RS  2000 NaN
2  1.7    SC  2001 NaN
3  3.6    PR  2002 NaN
4  2.4    SP  2001 NaN
5  2.9    RJ  2002 NaN

In [112]:
frame.columns

Index(['pop', 'state', 'year', 'gd'], dtype='object')

In [122]:
pop = {'Nevada': {2001: 2.4, 2002: 2.9,2003:np.nan},'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}
frame3 = pd.DataFrame(pop)
frame3

      Nevada  Ohio
2000     NaN   1.5
2001     2.4   1.7
2002     2.9   3.6
2003     NaN   NaN

## Regular Expressions

In [2]:
with open('../Python/Dados/texto_python.txt', mode='r', encoding='utf-8') as f:
    novo = f.read()
novo[0:1000]

'\n  /Python/\n\nOrigem: Wikipédia, a enciclopédia livre.\nIr para: navegação <#mw-head>, pesquisa <#p-search>\nDisambig grey.svg *Nota:* Para outros significados, veja Python\n(desambiguação) </wiki/Python_(desambigua%C3%A7%C3%A3o)>.\nPython\nPython logo and wordmark.svg </wiki/Ficheiro:Python_logo_and_wordmark.svg>\nParadigma </wiki/Paradigma_de_programa%C3%A7%C3%A3o> \tMultiparadigma\n</wiki/Multiparadigma>:\nOrientação a objetos </wiki/Orienta%C3%A7%C3%A3o_a_objetos>\nProgramação imperativa </wiki/Programa%C3%A7%C3%A3o_imperativa>\nProgramação funcional </wiki/Programa%C3%A7%C3%A3o_funcional>\nSurgido em \t1991 </wiki/1991>^[1] <#cite_note-svn-hist.C3.B3ria-1>\nÚltima versão </wiki/Vers%C3%A3o> \t3.4.1 (18 de maio de 2014^[2]\n<#cite_note-2> )\nCriado por \tGuido van Rossum </wiki/Guido_van_Rossum>^[1]\n<#cite_note-svn-hist.C3.B3ria-1>\nEstilo de tipagem </wiki/Tipo_de_dado>: \tDinâmica, forte\nDialetos: \tCPython </wiki/CPython>, IronPython </wiki/IronPython>,\nJython </wiki/Jython>, PyPy </w/index.php?title'

In [4]:
novo = re.sub(r'[^A-Za-z0-9áéíóúàâêôãõçü-]',' ',novo)
novo[0:2000]

'    Python   Origem  Wikipédia  a enciclopédia livre  Ir para  navegação   mw-head   pesquisa   p-search  Disambig grey svg  Nota   Para outros significados  veja Python  desambiguação    wiki Python  desambigua C3 A7 C3 A3o    Python Python logo and wordmark svg   wiki Ficheiro Python logo and wordmark svg  Paradigma   wiki Paradigma de programa C3 A7 C3 A3o   Multiparadigma   wiki Multiparadigma   Orientação a objetos   wiki Orienta C3 A7 C3 A3o a objetos  Programação imperativa   wiki Programa C3 A7 C3 A3o imperativa  Programação funcional   wiki Programa C3 A7 C3 A3o funcional  Surgido em  1991   wiki 1991   1    cite note-svn-hist C3 B3ria-1   ltima versão   wiki Vers C3 A3o   3 4 1  18 de maio de 2014  2    cite note-2    Criado por  Guido van Rossum   wiki Guido van Rossum   1    cite note-svn-hist C3 B3ria-1  Estilo de tipagem   wiki Tipo de dado    Dinâmica  forte Dialetos   CPython   wiki CPython   IronPython   wiki IronPython   Jython   wiki Jython   PyPy   w index php title PyPy action edit redlink 1  Influenciada por  ABC   wiki ABC  linguagem de programa C3 A7 C3 A3o     3    cite note-influ C3 AAncias-3  ALGOL 68   wiki ALGOL 68   C   wiki C  linguagem de programa C3 A7 C3 A3o    3    cite note-influ C3 AAncias-3    Haskell   wiki Haskell  linguagem de programa C3 A7 C3 A3o    Icon   wiki Icon  linguagem de programa C3 A7 C3 A3o    Java   wiki Java  linguagem de programa C3 A7 C3 A3o    Lisp   wiki Lisp   Modula-3   wiki Modula-3   3    cite note-influ C3 AAncias-3    Perl   wiki Perl   Smalltalk   wiki Smalltalk  Influenciou  Boo   wiki Boo   D   wiki D  linguagem de programa C3 A7 C3 A3o    Falcon   w index php title Falcon  linguagem de programa C3 A7 C3 A3o  action edit redlink 1   Fantom   wiki Fantom   Groovy   wiki Groovy   JavaScript   wiki JavaScript   Nimrod   wiki Nimrod  linguagem de programa C3 A7 C3 A3o    Py   wiki Py  linguagem de programa C3 A7 C3 A3o    Ruby   wiki Ruby  linguagem de programa C3 A7 C3 A3o    Squirrel   wiki Squirrel '

In [20]:
string = 'a'
bool(re.search('\d',string)) #reconhece se tem dígitos

False

In [26]:
string2 = '\\'
bool(re.search('\\\\',string2)) #barra sem o raw scring

True

In [49]:
string3 = 'N'
bool(re.search(r'\N',string3)) #procura pela palavra em si

True

In [63]:
def e_matricula (string):
    return re.search(r'^\d{2}-[A-Z]{2}-\d{2}$',string) != None #função que avalia a string e compara com o padrão

In [64]:
e_matricula('11-AA-12')

True

In [96]:
def detalhes_matricula (string):
    match = re.search(r'\d{2}-[A-Z]{2}-\d{2}', string)
    if match == None:
        return 0
    else: 
        return (match.group(), match.start(), match.end())

In [97]:
detalhes_matricula('A minha matricula: 12-AF-70')

('12-AF-70', 19, 27)

In [110]:
texto = 'A minha casa era feira de cogumelos. Ela se situa na Amazômia. Junto comigo, existe um sapo. Esse sapo tinha uma mania muito engraçada. Nas manhãs, enquanto ele acordava, ele gostava de cantar uma música que se chamava o sol amarelo, mas ninguém sabia o motivo. Eu dormia num quarto e ele noutro, porque eu estava cansado dessa música, mas ele sempre cantava. '

In [145]:
re.search(r'^[aeiou]+',texto)

In [200]:
with open('../Python/Dados/DomCasmurroMachadoAssis.txt',encoding='utf-8') as h:
    texto = h.read()
    words = re.split(r'\s',texto)
    words = [p.strip(string.punctuation) for p in words]
    vogal1 = [p for p in words if bool(re.search(r'^[^aeiouáàãâéêíóôõú][aeiouáàãâéêíóôõú]{1}[^aeiouáàãâéêíóôõú]$',p)) == True]

In [169]:
feira = 'A feira de decorreu entre maio 3 e junho 4'
re.sub(r'([a-zA-Z]+) (\d+)', r'\2 de \1', feira)

'A feira de decorreu entre 3 de maio e 4 de junho'

In [9]:
def cpf(codigo):
    if re.search('\d{3}.?\d{3}.?\d{3}.?\d{2}',codigo):
        return 'Passe agora sua senha:'
    else:
        return 'Hey, você escreveu errado! Pode repetir tchonga?'

In [260]:
def encontra_o(texto):
    words = re.split(r'\s',texto)
    words = [w.strip(string.punctuation) for w in words]
    words_o = [w for w in words if re.search(r'.*o',w)]
    return words_o

In [261]:
encontra_o('o meu namorado é tão bonito que eu fico louco')

['o', 'namorado', 'tão', 'bonito', 'fico', 'louco']

In [287]:
def vogais(texto):
    words = re.split(r'\s',texto)
    words = [w.strip(string.punctuation) for w in words]
    vowels = [v for v in words if re.search(r'\w*[aeiou]$',v)] #--> solução 1
    #vowels = re.findall(r'^[aeiou]\w+',texto)
    return vowels

In [288]:
texto = 'a aranha era tão legal comigo que eu ficava inteiramente apaixonado.'

In [291]:
f = '.'
while f != '':
    f = str(input('Digite uma frase ou pressione enter para sair: ')).lower()
    print('Palavras contidas na frase: {}'.format(len(re.findall(r'\b\w+\b',f))))
    v_br=r'[aáãâàéeiíoóõúu]'
    c_br=r'[b-dçf-hj-np-tv-z]'
    v2_br = r'(\b(?:'+c_br+r'*'+v_br+c_br+r'*'+v_br+c_br+r'*)+\b)'
    rv = re.compile(v_br, re.UNICODE)
    r2v = re.compile(v2_br, re.UNICODE)
    p2v = re.findall(r2v,f)
    print('Total de vogais nessa frase: {}'.format(len(re.findall(v_br,f))))
    print('Total de dígitos nessa frase: {}'.format(len(re.findall(r'\d',f))))
    print('Palavras com número par de vogais: {}'.format(str(len(p2v))+", "+str(p2v)))

Digite uma frase ou pressione enter para sair: Meu nome é Lucas!
Palavras contidas na frase: 4
Total de vogais nessa frase: 7
Total de dígitos nessa frase: 0
Palavras com número par de vogais: 3, ['meu', 'nome', 'lucas']
Digite uma frase ou pressione enter para sair:
Palavras contidas na frase: 0
Total de vogais nessa frase: 0
Total de dígitos nessa frase: 0
Palavras com número par de vogais: 0, []

In [304]:
f = 'Meu nome é Lucas!'
re.findall(r'\b\w*[eé]\b',f) #usar findall coom \b, que especifica a ausência de espaço

['nome', 'é']

## SQL

In [306]:
def create_connection(db_file):
    """ create a database connection to a SQLite database """
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
    finally:
        conn.close()

if __name__ == '__main__':
    create_connection("C:\\sqlite\db\pythonsqlite.db")

2.6.0