# Revisão A2

In [118]:
import pandas as pd
import numpy as np

## Pandas

### Séries

In [22]:
lista = pd.Series([10,1012,'312',312,312])
lista2 = pd.Series(data=lista.values,index = range(1,len(lista.values)+1)) #ele pega os valores da série de lista e linka aos valores index

In [23]:
lista2

1      10
2    1012
3     312
4     312
5     312
dtype: object

In [24]:
lista.index

RangeIndex(start=0, stop=5, step=1)

In [29]:
lista[[all([a, b]) for a, b in zip(lista2 != '312', lista2 != 312)]]

0      10
1    1012
dtype: object

In [26]:
list(zip(lista2 != '312', lista2 != 312))

[(True, True), (True, True), (False, True), (True, False), (True, False)]

In [69]:
lista2.iloc[1]
lista2.apply(lambda x: int(x)**2)
lista2.append(pd.Series([1,2,3]))
lista2.loc[1] = 10.4 #se o index existe, ele  substitui, senão ele cria um novo índice
lista2[lista2.between(1,10)] #selecionar dados de um intervalo é melhor por esse método

2    4.0
3    4.0
0    4.0
8    4.0
dtype: float64

### DataFrames

In [104]:
data2 = {'state': ['RS', 'SC', 'PR', 'SP', 'RJ'],'year': [2000, 2001, 2002, 2001, 2002],'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
frame = pd.DataFrame(data2,index = range(1, len(data2['state'])+1))
frame

   pop state  year
1  1.5    RS  2000
2  1.7    SC  2001
3  3.6    PR  2002
4  2.4    SP  2001
5  2.9    RJ  2002

In [117]:
frame['gd'] = np.nan
frame

   pop state  year  gd
1  1.5    RS  2000 NaN
2  1.7    SC  2001 NaN
3  3.6    PR  2002 NaN
4  2.4    SP  2001 NaN
5  2.9    RJ  2002 NaN

In [112]:
frame.columns

Index(['pop', 'state', 'year', 'gd'], dtype='object')

In [122]:
pop = {'Nevada': {2001: 2.4, 2002: 2.9,2003:np.nan},'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}
frame3 = pd.DataFrame(pop)
frame3

      Nevada  Ohio
2000     NaN   1.5
2001     2.4   1.7
2002     2.9   3.6
2003     NaN   NaN

In [132]:
pd.DataFrame.between_time?